<div>
  <p>
    Noch unentdeckt von Menschenhand,
    lebt in einem fernen Inselland,
    das der Bewohner unter Learnjava kennt,
    ein Dino, den man Learnzilla nennt.

  </p>
  <p>
    Eines Tages wurde ihm die Nahrung knapp,
    denn die Insulaner machten beim Antworten schlapp,
    denn am liebsten frisst er, weder Leib noch Leber
    richtige Antworten auf seine Javafragen, die weiß ein jeder!
  </p>
  <p>
    Und so machte er sich auf nach klugen Köpfen,
    um seinen Fettigkeitsgrad auszuschöpfen,
    darum hilf ihm jetzt und mach alles richtig,
    denn sonst wär' seine Existenz - nichtig!
  </p>
  <a href="#/leanzilla"
    ng-click="story.setNextView()"
          class="custom"> Start
  </a>

  <button
    ng-click="story.update()"
          class="custom"> upadte
  </button>
  <button
    ng-click="story.reduceScore()"
          class="custom"> reducen
  </button>

</div>
