.bottom{
  position: absolute;
  bottom: 0;
}
.main {
  margin-left: 1000px;
  margin-top: 50px;
}

.button
{
  position: relative;
  display: inline-block;
  background: #df7366;
  color: #fff;
  text-align: center;
  border-radius: 0.5em;
  text-decoration: none;
  padding: 0.65em 3em 0.65em 3em;
  border: 0;
  cursor: pointer;
  outline: 0;
}


.custom {

  border-radius: 100%;
  width: 5em;
  height: 5em;
  line-height: 4.5em;
  text-align: center;
  font-size: 1.25em;
  padding-top: 15px;
  margin: 5px;
  /*---------------------*/
  position: relative;
  display: inline-block;
  background: #df7366;
  color: #fff;
  text-align: center;
  border-radius: 0.5em;
  text-decoration: none;
  border: 0;
  cursor: pointer;
  outline: 0;
  /*---------------------*/
  position: relative;
  display: inline-block;
  border-radius: 100%;

  line-height: 3.5em;
  text-align: center;
  font-size: 1em;
  /*---------------------*/
  box-sizing: border-box;
  vertical-align: baseline;
  margin: 0;
  display: inline-block;
  transition:background-color 0.35s ease-in-out, color 0.35s ease-in-out, border-bottom-color 0.35s ease-in-out
}
