<h1> play snippet </h1>
<p>Kategorien:</p>

<div ng-repeat="kategorie in play.kategorien track by $index">
  <a href="#/learnzilla"
    ng-bind="kategorie"
          ng-click="play.setKategorie($index)"
          class="button"></a>
</div>
<hr/>

<div ng-if="play.frantwort && play.neueFrage">
  <h5 ng-bind="play.frantwort.frage.frage">
  </h5>
  <div ng-repeat="antwort in play.frantwort.antwortenList track by $index">
    <input type="button"
           name="checkbox{{$index}}"
           value="{{antwort.antwort}}"
           ng-click="play.updateAntwortList($index)"/>

  </div>
  <a href="#/learnzilla"
    ng-click="play.submitAnswer()"
          type="button"
          class="button"> submit answer
  </a>
</div>


<div ng-if="!play.neueFrage && play.frantwort">
  result comes here:
  {{play.result}}

  <a href="#/learnzilla"
          ng-click="play.setFrantwort()"
          type="submit"
          class="button"> neue frage
  </a>
</div>
